
@{
    ViewData["Title"] = "ViolencePage";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<h1>Violence Video</h1>

<iframe width="600" height="338" src="https://www.youtube.com/embed/X55jQYKyDFE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

